@import "../../../node_modules/bootstrap/scss/functions";
@import "../defaults/variables";

//----------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------
//OVERFLOW
.tc-of-x-hidden {
  overflow-x: hidden;
}

//----------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------
//SIZING

.tc-w-fit-content {
  width: fit-content !important;
}

.tc-h-fit-content {
  height: fit-content !important;
}

.tc-w-max-content {
  width: max-content !important;

}

// ----------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------
//POSITIONING

.tc-right-0 {
  right: 0 !important;
}

.tc-left-0 {
  left: 0 !important;
}

//----------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------
//Z-INDEX

.tc-z-index-1 {
  z-index: 1 !important;
}

@include tcZindex();

//----------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------
//CURSOR

.tc-cursor-pointer {
  cursor: pointer !important;
}

.tc-cursor-auto {
  cursor: auto !important;
}

// ----------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------
// IMAGES

.tc-img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

